# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment
.env
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Celery + Redis logs (optional)
celerybeat-schedule
*.pid

# Migrations (optional, only if you regenerate often)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
